{% extends 'base.html' %}

{% block content %}

<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top custom-nav-pad" role="navigation" style="margin-bottom: 0;">
        <div class="navbar-header flex flex-start">
            <!-- <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a> -->
            <div class="m-auto page-title"> CRM Timesheet </div>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="logout">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>            
        </ul>
    </nav>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div id="dashboard-page">
        <div class="flex">
            <div class="heading m-auto text-center">
                <h2 class="text-black bold">Welcome {{session['employee_name']}} to CRM Timesheet App, the cloud business platform.</h2>
                <h4>Let's get you up and running. <span class="text-blue">View all support articles</span> </h4>
                <h4>Watch our <span class="text-blue">instruction videos.</span> </h4>
            </div>
        </div>
    </div>
</div>
<script>
    const dashboardapp = {
        data() {
            return {
                pagetitle: 'Dashboard',
            }
        },
        mounted: function () {
            stoploading();
        },
        methods: {                
        }
    }
    Vue.createApp(dashboardapp).mount('#dashboard-page')
</script>

{% endblock %}











