{% extends 'base.html' %}

{% block content %}

<div id="dashboard-page">
    <div class="flex">
        <div class="heading m-auto text-center">
            <h2 class="text-black bold">Welcome to Ai DOM, the cloud business platform.</h2>
            <h4>Let's get you up and running. <span class="text-blue">View all support articles</span> </h4>
        </div>
    </div>
</div>   
<script>
    const dashboardapp = {
        data() {
            return {
                pagetitle: 'Dashboard',
            }
        },
        mounted: function () {
            stoploading();
        },
        methods: {                
        }
    }
    Vue.createApp(dashboardapp).mount('#dashboard-page')
</script>
{% endblock %}











