{% extends 'base.html' %}

{% block content %}
<div id="timesheet-entry" class="section-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Time Sheet <small>New Entry</small></h5>                                    
        </div>
        <div class="ibox-content">
            <div class="form-horizontal">
                <div class="form-group"><label class="col-sm-2 control-label">Project *</label>
                    <div class="col-sm-10">
                        <input type="hidden" v-model="HourLogs.hourlog_id" />
                        <input type="hidden" v-model="HourLogs.employee_id" />
                        <select class="form-control m-b search-select" id="taskId" v-model="HourLogs.task_id">
                            <optgroup v-for="(proj) in tasklist" :label="proj.project_name">
                                <option v-for="(task) in proj.tasks" :value="task.task_id">[[task.task_name]]</option>
                            </optgroup>
                        </select>
                    </div>
                </div>                                        
                <div class="form-group"><label class="col-sm-2 control-label">Category *</label>
                    <div class="col-sm-10">
                        <select class="form-control m-b" id="categoryId" v-model="HourLogs.category_id">
                            <option v-for="(cat) in categorylist" :value="cat.category_id">[[cat.category_name]]</option>
                        </select>
                    </div>
                </div>
                <!-- <div class="form-group"><label class="col-sm-2 control-label">Task *</label>
                    <div class="col-sm-10">
                        <select class="form-control m-b"  v-model="HourLogs.task_id">
                            <option value="">Select One</option>
                            <option value="1">Task 1</option>
                            <option value="2">Task 2</option>
                            <option value="3">Task 3</option>
                        </select>
                    </div>
                </div>                                         -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Note</label>        
                    <div class="col-sm-10">
                        <textarea class="form-control" name="notes" rows="3" v-model="HourLogs.notes"></textarea>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Start Date</label>
                    <div class="col-sm-2">
                        <input type="text" id="StartDate" class="form-control" autocomplete="off" value="{{start_date}}"/>
                    </div>
                    <div class="col-sm-5 flex">
                        <div id="clockStart" class="input-group clockpicker col-sm-4" data-autoclose="true">
                            <input type="text" id="startValue" class="form-control" value="00:00" >
                            <span class="input-group-addon">
                                <i class="far fa-clock"></i>
                            </span>
                        </div>
                        <label class="col-sm-1 control-label"> - </label>
                        <div id="clockEnd" class="input-group clockpicker col-sm-4" data-autoclose="true">
                            <input type="text" id="endValue" class="form-control" value="00:00" >
                            <span class="input-group-addon">
                                <i class="far fa-clock"></i>
                            </span>
                        </div>
                    </div>
                    <label class="col-sm-2">Total Hours : [[totalhour]]</label>
                </div>
                <div class="flex">
                    <div class="col-md-2 text-right"><label>Required Items</label> </div>
                    <div class="col-md-2"><label>Particular</label> </div>
                    <div class="col-md-2"><label>Quantity</label> </div>
                    <div class="col-md-2"><label>Unit</label> </div>
                    <div class="col-md-1"><button @click="addInventory"><i class="fa fa-plus"></i></button></div>
                </div>
                <template v-for="(obj, index) in HourLogs.InventoryTracker">
                    <div class="flex">
                        <div class="col-md-2">&nbsp;</div>
                        <div class="col-md-2">
                            <select v-model="obj.inventory_name" class="form-control">
                                <option v-for="(inv,ind) in inventorylist" :value="inv">[[inv]]</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input type="text" v-model="obj.quantity" class="form-control" autocomplete="off"/>
                        </div>
                        <div class="col-md-2">
                            <select v-model="obj.unit" class="form-control">
                                <option v-for="(unit,ind) in unitlist" :value="unit" >[[unit]]</option>
                            </select>
                        </div>
                    </div>
                </template>                                        
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-primary" @click="SaveTimeSheet">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const timeentryapp = {
        data() {
            return {
                pagetitle: 'New Timesheet',
                unitlist:['KG','Pound','Liter','Pieces'],
                inventorylist: ['Tissue','Engine Oil','Brash','Towel','Bin','Soup','Detergent'],
                HourLogs: {
                    hourlog_id: 0,
                    employee_id: 1,
                    task_id: 0,
                    category_id: 0,
                    notes: '',
                    insert_date: new Date(),
                    entry_date: '',
                    start_time: '0:00',
                    end_time: '0:00',
                    total_hours: '0:00',
                    InventoryTracker:[{inventory_name: '',quantity: '',unit: '',hourlog_id:0}],
                    
                },
                tasklist: [],
                categorylist: [],
                supportingUrl: 'get_supporting_data',
                saveurl: 'save_timesheet'
            }
        },
        mounted: function () {
            let self = this;
            this.loadDefault();
            // use to select date from datepicker
            $("#StartDate").datepicker({
                dateFormat: 'yy-mm-dd',
                maxDate: "+0D",
                onSelect: function (dateText, inst) {
                    // assign selected date
                    self.HourLogs.entry_date = dateText;
                }
            });
            $("#startValue").on('change', function(){
                self.HourLogs.start_time = this.value;
            });
            $("#endValue").on('change', function(){
                self.HourLogs.end_time = this.value;
            });
            $('.search-select').select2();
            // to select selected data from select2 
            // Select the target node.            
            var target = document.querySelector('#select2-taskId-container');
            
            // Create an observer instance.
            var observer = new MutationObserver(function (mutations) {
                if (self.HourLogs.task_id !== target.innerText) {
                    self.HourLogs.task_id = parseInt($("select#taskId option").filter(":selected").val());
                };
            });
            var config = { attributes: true, childList: true, characterData: true };
            // Pass in the target node, as well as the observer options.
            observer.observe(target, config);
        },
        methods: {
            loadDefault() {
                let self = this;
                helper.get(self.supportingUrl, {}, function (response) {                    
                    self.categorylist = response.data.categorylist;
                    self.makeReferenceObject(response.data);
                }, true);
            },
            makeReferenceObject(data){
                console.log(data);
                let self = this;
                data.projectlist.forEach(element => {
                    element.tasks = data.tasklist.filter(function(el){
                        return el.project_id === element.project_id;
                    });
                    this.tasklist.push(element);
                });
                console.log(this.tasklist);
            },
            SaveTimeSheet(){
                let self = this;
                if(self.HourLogs.entry_date === ''){
                    self.HourLogs.entry_date = $("#StartDate").val();
                }
                data = JSON.stringify(self.HourLogs)
                helper.post(self.saveurl, data, function (response) {
                    console.log(response);
                }, false);
            },
            addInventory(){                    
                let newinventory = {inventory_name: '',quantity: '',unit: '',hourlog_id:0};
                this.HourLogs.InventoryTracker.push(newinventory);
            }
        },
        computed: {
            // a computed getter
            totalhour() {
                let self = this;
                // `this` points to the vm instance
                self.HourLogs.total_hours = calculatingWorkingHours(self.HourLogs.start_time, self.HourLogs.end_time)
                return self.HourLogs.total_hours;
            }
        },
        delimiters: ['[[',']]'],
    }
    Vue.createApp(timeentryapp).mount('#timesheet-entry')
</script>
{% endblock %}