{% extends 'base.html' %}

{% block content %}
<div id="report-page" class="m-1">
    <div class="flex mb-2 pl-1">
        <h1>Project Management</h1>
    </div>
    <div class="flex flex-start">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h3>My Timesheet Details</h3>
                    <p class="mb-2">Detailed list of my own timesheets</p>
                    <template v-if="loginInfo.is_admin">
                        <div class="form-group flex row">
                            <label class="control-label col-md-6">Employee Id</label>
                            <input type="text" v-model="loginInfo.employee_code" class="form-control" autocomplete="off"/>
                        </div>
                    </template>
                    <a href="timesheetdetailreport.html" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h3>My Schedule vs Timesheets</h3>
                    <p class="mb-2">Detailed list of my own timesheets</p>
                    <template v-if="loginInfo.is_admin">
                        <div class="form-group flex row">
                            <label class="control-label col-md-6">Employee Id</label>
                            <input type="text" v-model="loginInfo.employee_code" class="form-control" autocomplete="off"/>
                        </div>
                    </template>
                    <a href="schedulevstimesheetreport.html" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox float-e-margins">     
                <div class="ibox-content">
                    <h3>Task List Report (Restricted)</h3>
                    <p class="mb-2">Detailed list of my own timesheets</p>
                    <template v-if="loginInfo.is_admin">
                        <div class="form-group flex row">
                            <label class="control-label col-md-6">Employee Id</label>
                            <input type="text" v-model="loginInfo.employee_code" class="form-control" autocomplete="off"/>
                        </div>
                    </template>
                    <a href="tasklistreport.html" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>                            
</div>
<script>
       
    const reportapp = {
        data() {
            return {
                pagetitle: '',
                loginInfo: {
                    user_id: 1,
                    is_admin: false,
                    user_name: 'Tanvir Alam',
                    employee_code: ''
                }
            }
        },
        mounted: function () {
            this.loadDefault();
        },
        methods: {
            loadDefault() {
                this.pagetitle = 'Time Sheet';
                
            }                
        }
    }
    Vue.createApp(reportapp).mount('#report-page')
</script>
{% endblock %}

