{% extends 'base.html' %}

{% block content %}
<div id="timesheet-page" class="section-content m-1">
    <div class="flex align-between">
        <div class="event-date">
            <template v-if="isDay">
                <p style="font-size: 18px;"><b>[[showWeekend]]</b>  [[showDate]]</p>
            </template>
            <template v-else>
                <p style="font-size: 18px;">[[weektitle.startdate]] - [[weektitle.enddate]]</p>
            </template>
        </div>
        <div class="date-events">
            <div class="day-change mr-1">
                <template v-if="isDay">
                    <a class="btn btn-default btn-right-no-border" @click="prevDay"><i class="fas fa-chevron-left"></i> </a>
                    <p class="day-title"> Today </p>
                    <a class="btn btn-default btn-left-no-border" @click="nextDay"><i class="fas fa-chevron-right"></i> </a>
                </template>
                <template v-else>
                    <a class="btn btn-default" @click="prevWeek"><i class="fas fa-chevron-left"></i> </a>
                    <p class="day-title"> Week </p>
                    <a class="btn btn-default" @click="nextWeek"><i class="fas fa-chevron-right"></i> </a>
                </template>
            </div>
            <div class="mr-1">
                <button class="btn btn-default btn-calender" @click="loadCalender"><i class="fas fa-calendar-alt"></i></button>
                <div id="j-calender"></div>
            </div>
            <div id="day-week" class="mr-1" style="z-index: 999;">
                <a :class="['btn', 'btn-default', 'join-btn-first',(isDay===true ? 'active' : '')]" @click="SetDayWiseView(true)">Day</a>
                <a :class="['btn', 'btn-default', 'join-btn-last',(isDay===true ? '' : 'active')]" @click="SetDayWiseView(false)">Week</a>
            </div>
            <div class="mr-1">
                <a class="btn btn-primary" :href="'newtimesheet?selecteddate=' + selectedDayStr"><i class="fa fa-plus"></i> Entry</a>
            </div>
        </div>
    </div>
    <template v-if="isDay">
        <div id="day-wise">
            <div id="button-calender">
                <ul class="flex align-evenly time-button-group">
                    <li v-for="(value, index) in daywiseDisplaylogList">
                        <a :class="['btn','btn-default',(index === 0 ? 'join-btn-first' : 'join-btn-middle'),(selectedDayArr[0] === value.weekShortName ? 'active' : '')]">
                            <span><b>[[value.weekShortName]]</b></span>
                            <span>[[value.grandworkinghour]]</span>
                        </a>
                    </li>
                    <li><a class="btn btn-default join-btn-last"><span>Total: </span><span><b>[[weeklytotal]]</b></span></a></li> 
                </ul>
            </div>
            <div class="flex flex-start">
                <p class="group-title m-auto">ACTUAL TIME</p>
                <hr class="group-break col-md-11" />
            </div>            
            <template v-if="displaylog.workinglog.length > 0">
                <ul class="sortable-list connectList agile-list ui-sortable col-md-12" id="todo">
                    <template v-for="(log, name, index) in displaylog.workinglog">
                        <li class="warning-element ui-sortable-handle" v-if="log.entry_date === selectedDayStr">
                            <div class="agile-detail flex">
                                <div class="col-md-9">
                                    <div class="flex">
                                        <p class="agile-head">[[log.project_name]]</p>
                                        <p class="agile-desc">&nbsp;</p>
                                    </div>
                                    <div class="flex">
                                        <p class="category-title mr-1"><i class="far fa-folder-open"></i> [[log.category_name]]</p>
                                        <p class="task-title"><i class="fas fa-list"></i> [[log.task_name]]</p>
                                    </div>
                                    <div class="flex">
                                        <p class="note">[[log.notes]]</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="flex">
                                        <p class="working-hour col-md-4 m-auto">[[log.total_hours]]</p>
                                        <a class="btn btn-default" :href="'edittimesheet?hourlog_id=' + log.hourlog_id"><i class="far fa-edit"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </template>
                </ul>
                <div class="col-md-offset-9 col-md-3">
                    <p style="font-size:22px;"> Total   :   <span style="padding-left:20px;">[[displaylog.grandworkinghour]]</span>  </p>
                </div>
            </template>
            <template v-else>
                <div id="section-blank" class="content-toggler">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="flex align-evenly">
                                <div class="flex pt-2 pb-2">
                                    <p>No Timesheets here yet. </p>
                                    <a class="pl-1" :href="'newtimesheet?selecteddate=' + selectedDayStr"> Add Entry </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </template>
    <template v-else>
        <div id="week-wise" class="flex row mt-2">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <div class="feed-activity-list">
                                <template v-for="(taskobject, index) in weekwiseDisplaylogList">
                                    <div class="feed-element">
                                        <div class="media-body">
                                            <template v-if="index === 0">
                                                <div class="col-md-5"></div>
                                            </template>
                                            <template v-else>
                                                <div class="col-md-5"><p>[[taskobject.project_name]]</p><p>[[taskobject.task_name]] - [[taskobject.task_id]]</p></div>
                                            </template>
                                            <div class="col-md-7 flex">
                                                <template v-for="(v,i) in taskobject.hourlog">
                                                    <div class="day-workinghour" v-if="index===0">
                                                        <span><b>[[v.weekShortName]]</b></span>
                                                        <span>[[v.entrydate]]</span>
                                                    </div>
                                                    <div class="box-workinghour" v-else>[[v.totalhours]]</div>
                                                </template>
                                                <div class="day-workinghour-2" v-if="index===0"><span>&nbsp;</span></div>
                                                <div class="day-workinghour-2" v-else><span><b>[[taskobject.GrandTotalHours]]</b></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <div class="feed-element">
                                    <div class="media-body">
                                        <div class="col-md-5"></div>
                                        <div class="col-md-7 flex">
                                            <template v-for="(v,i) in weekwisecolumntotal">
                                                <div class="day-workinghour"><b>[[v]]</b></div>
                                            </template>
                                            <div class="day-workinghour-2"><span><b>[[weeklygrandworkingtotal]]</b></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>    
</div>

<script>
    function ShowSection(div, element) {
        $('.content-toggler').css('display', 'none');
        $('#day-week').find('a').removeClass('active');
        $('.' + div).addClass('active');
        $('#' + element).show();
    }
    
    const timesheetapp = {
        data() {
            return {
                pagetitle: '',
                isDay: true,
                selectedDay: new Date(),
                selectedDayStr: '',
                selectedDayArr: [],
                showDate: '',
                showWeekend: '',
                weektitle: {
                    'startdate': "",
                    'enddate': ""
                },
                displaylogStartingDate: new Date(),
                displaylogEndingDate: new Date(),
                weekstartdateStr: '',
                weekenddateStr: '',
                workinglog: [],
                daywiseDisplaylogList: [],                
                displaylog: {
                    weekName: '',
                    entrydate: '',
                    grandworkinghour: '0:00',
                    workinglog: []
                },
                weekwiseDisplaylogList: [],
                weekwisecolumntotal: ['0:00', '0:00', '0:00', '0:00', '0:00', '0:00', '0:00'],
                weeklytotal: '0:00',
                weeklygrandworkingtotal: '0:00',
                getHourLogUrl: 'GetWeeklyHourLogs'
            }
        },
        delimiters: ['[[',']]'],
        mounted: function () {
            this.loadDefault();
        },
        methods: {
            loadDefault() {
                let self = this;
                self.pagetitle = 'Time Sheet';
                // convert date to string
                self.selectedDayStr = getcalenderformat(self.selectedDay);                
                // split date to array
                self.selectedDayArr = self.selectedDay.toString('en-us').split(' ');
                // set week start date and week end date of selected date
                self.setStartAndEndDate(self.selectedDay, self.selectedDayArr);
                // get selected date week name in full form for display on screen
                self.showWeekend = getFullWeekend(self.selectedDayArr[0]);
                // get formatted date for display on screen
                
                self.showDate = getFormattedDate(self.selectedDayArr);
                
                // start date of selected date week
                // self.displaylogStartingDate = new Date(self.selectedDayStr);
                // self.displaylogStartingDate.setHours(0, 0, 0, 0);
                // self.displaylogStartingDate.setDate(self.displaylogStartingDate.getDate() - dayno);
                // self.displaylogStartingDate = new Date(self.selectedDayStr);
                // self.displaylogStartingDate.setHours(0, 0, 0, 0);
                // self.displaylogStartingDate.setDate(self.displaylogStartingDate.getDate() - dayno);
                // get current date daywise work log
                self.loadworkinglog(self.weekstartdateStr, self.weekenddateStr);
            },
            loadworkinglog(startdateParam, enddateParam) {
                var self = this;
                // send selecteddaystr in your query string
                //disable this code on server
                // let x = getdemodata();
                // self.workinglog = getdemodata();
                // self.daywiseProcessWorkingLog(self.workinglog);
                // self.getcurrentdateWorklog();
                // console.log(x);
                // enable this code on server
                console.log(startdateParam);
                console.log(enddateParam);
                helper.get(self.getHourLogUrl, {startdate: startdateParam, enddate: enddateParam}, function (response) {
                    console.log('live data');
                    console.log(response.data)
                    self.workinglog = response.data;
                    if(self.isDay){
                        self.daywiseProcessWorkingLog(response.data);
                    }else{
                        self.weekwiseProcessWorkingLog(response.data);
                    }
                    self.getcurrentdateWorklog();
                }, true);
            },
            getcurrentdateWorklog() {
                var self = this;
                let displaylogs = self.daywiseDisplaylogList.filter(function (element) {
                    return element.entrydate === self.selectedDayStr;
                });                
                if (displaylogs.length > 0) {
                    self.displaylog = displaylogs[0];
                }
                console.log(displaylogs);
            },
            daywiseProcessWorkingLog(worklog) {
                console.log('daywise worklog processing...');
                var self = this;
                self.daywiseDisplaylogList = [];
                self.weeklytotal = "0:00";
                const dayno = getWeekDayNo(self.selectedDayArr[0]) - 1;
                console.log('day no : ' + dayno);
                let tempday = new Date(self.selectedDayStr);
                tempday.setDate(tempday.getDate() - dayno);
                console.log('starting date : ' + tempday);
                // self.displaylogStartingDate = new Date(self.selectedDayStr);
                // self.displaylogStartingDate.setHours(0, 0, 0, 0);
                // self.displaylogStartingDate.setDate(self.displaylogStartingDate.getDate() - dayno);
                // set first date of selected week                
                for (let i = 1; i <= 7; i++) {
                    let startingday = getcalenderformat(tempday);
                    let tempdayarr = tempday.toString('en-us').split(' ');
                    let grandhours = '0:00';
                    let displaylog = {
                        weekShortName: tempdayarr[0],
                        entrydate: startingday,
                        grandworkinghour: '0:00',
                        workinglog: []
                    };
                    displaylog.workinglog = worklog.filter(function (element) {
                        if (element.entry_date === startingday) {
                            grandhours = self.calculatingTotalHours(grandhours, element.total_hours);
                        }                    
                        return element.entry_date === startingday;
                    });
                    displaylog.grandworkinghour = grandhours;
                    self.weeklytotal = self.calculatingTotalHours(self.weeklytotal, grandhours);
                    self.daywiseDisplaylogList.push(displaylog);
                    tempday.setDate(tempday.getDate() + 1);
                }
                // self.displaylogEndingDate = new Date(tempday);
                // self.displaylogEndingDate.setDate(self.displaylogEndingDate.getDate() - 1);
                // self.displaylogEndingDate.setHours(0, 0, 0, 0);
                console.log('day wise data ');
                console.log(self.daywiseDisplaylogList);
                this.getcurrentdateWorklog();
            },
            weekwiseProcessWorkingLog(worklog) {
                console.log('weekwise worklog processing...');
                // remove conflict with javascript and vue
                var self = this;
                // initialize weekwise display log list
                self.weekwiseDisplaylogList = [];
                self.weekwisecolumntotal = ['0:00', '0:00', '0:00', '0:00', '0:00', '0:00', '0:00'];
                // initialize weekly total working hours
                self.weeklytotal = "0:00";
                // initialize weekly grand working hours
                self.weeklygrandworkingtotal = "0:00";
                
                // find unique task id from the list
                let uniquetasklist = worklog.map(item => item.task_id).filter((value, index, self) => self.indexOf(value) === index);
                
                // find day difference from selected date to week starting date
                const daydiff = getWeekDayNo(self.selectedDayArr[0]) - 1;
                // create a copy of selected date
                let weekstartingdate = new Date(self.selectedDayStr);
                // set to week start date.
                weekstartingdate.setDate(weekstartingdate.getDate() - daydiff);
                // convert week start date to string
                let weekstartingdatestr = getcalenderformat(weekstartingdate);
                // set week start date as global copy
                // self.displaylogStartingDate = new Date(self.selectedDayStr);
                // self.displaylogStartingDate.setHours(0, 0, 0, 0);
                // self.displaylogStartingDate.setDate(self.displaylogStartingDate.getDate() - daydiff);
                // set week start date as title
                let startdayArr = self.displaylogStartingDate.toString('en-us').split(' ');
                self.weektitle.startdate = nth(startdayArr[2]) + ' ' + startdayArr[1];
                // processing data to visualize on screen
                for (let i = 0; i <= uniquetasklist.length; i++) {
                    let displaylog = {
                        weekShortName: '',
                        entrydate: '',
                        totalhours: ''
                    };
                    // resetting incremental date
                    let incrementalDate = new Date(weekstartingdatestr);

                    let taskwisegrouping = [];
                    let hourlog = [];
                    taskobject = {};
                    let rowwisegrandhours = '0:00';
                    if (i > 0) {
                        taskwisegrouping = worklog.filter(function (element) {
                            if (element.task_id === uniquetasklist[i - 1]) {
                                rowwisegrandhours = self.calculatingTotalHours(rowwisegrandhours, element.total_hours);
                            }
                            return element.task_id === uniquetasklist[i - 1];
                        });
                        console.log('task grouping');
                        console.log(taskwisegrouping);
                        taskobject.task_id = taskwisegrouping[0].task_id;
                        taskobject.task_name = taskwisegrouping[0].task_name;
                        taskobject.project_id = taskwisegrouping[0].project_id;
                        taskobject.project_name = taskwisegrouping[0].project_name;
                        taskobject.GrandTotalHours = rowwisegrandhours;
                        self.weeklygrandworkingtotal = self.calculatingTotalHours(self.weeklygrandworkingtotal, rowwisegrandhours);
                    }
                    for (let j = 0; j < 7; j++) {
                        let startingdaystr = getcalenderformat(incrementalDate);
                        let startingdayarr = incrementalDate.toString('en-us').split(' ');
                        let taskwisegrandhours = '0:00';                            
                        if (i === 0) {
                            displaylog = {
                                weekShortName: startingdayarr[0],
                                entrydate: getFormattedDate(startingdayarr),
                                totalhours: ''
                            };
                        } else {                            
                            let task = taskwisegrouping.filter(function (element) {
                                if (element.entry_date === startingdaystr) {
                                    taskwisegrandhours = self.calculatingTotalHours(taskwisegrandhours, element.total_hours);
                                }
                                return element.entry_date === startingdaystr;
                            });
                            displaylog = {
                                weekShortName: startingdayarr[0],
                                entrydate: getFormattedDate(startingdayarr),
                                totalhours: (taskwisegrandhours === '0:00') ? '' : taskwisegrandhours,
                            };
                        }
                        self.weekwisecolumntotal[j] = self.calculatingTotalHours(self.weekwisecolumntotal[j], taskwisegrandhours);
                        incrementalDate.setDate(incrementalDate.getDate() + 1);
                        hourlog.push(displaylog);
                    }
                    taskobject.hourlog = hourlog;
                    console.log(taskobject);
                    self.weekwiseDisplaylogList.push(taskobject);
                }
                
                // set week end date as global copy
                self.displaylogEndingDate = new Date(self.displaylogStartingDate);
                self.displaylogEndingDate.setHours(0, 0, 0, 0);
                self.displaylogEndingDate.setDate(self.displaylogEndingDate.getDate() + 6);                    
                // set week end date as title
                let enddayArr = self.displaylogEndingDate.toString('en-us').split(' ');
                self.weektitle.enddate = nth(enddayArr[2]) + ' ' + enddayArr[1];
            },
            calculatingTotalHours(grandtotal, workinghours) {
                let workinghoursArr = workinghours.split(':');
                let grandtotalarr = grandtotal.split(':');
                let workingminutes = parseInt(workinghoursArr[1]) + parseInt(grandtotalarr[1]);                
                let mins = ((workingminutes % 60) < 10) ? ('0' + (workingminutes % 60)) : (workingminutes % 60);
                let hours = parseInt(workinghoursArr[0]) + parseInt(grandtotalarr[0]) + Math.floor(workingminutes / 60);
                return hours + ':' + mins;
            },
            SetDayWiseView(setdayflag) {
                this.isDay = setdayflag;
                if (setdayflag) {
                    this.daywiseProcessWorkingLog(this.workinglog);
                } else {
                    this.weekwiseProcessWorkingLog(this.workinglog);
                }
            },
            loadCalender() {
                // seperate "this" operator from vue and jquery
                var self = this;
                // reset datepicker                    
                $('.ui-datepicker').show();
                $("#j-calender").datepicker({
                    dateFormat: 'yy-mm-dd',
                    firstDay: 1,
                    onSelect: function (dateText, inst) {
                        // assign selected date
                        self.selectedDay = new Date(dateText);
                        // assign selected date string
                        self.selectedDayStr = dateText;
                        // assign selected date array
                        self.selectedDayArr = self.selectedDay.toString('en-us').split(' ');
                        // get selected date week name in full form for display on screen
                        self.showWeekend = getFullWeekend(self.selectedDayArr[0]);
                        // get formatted date for display on screen
                        self.showDate = getFormattedDate(self.selectedDayArr);
                        self.setStartAndEndDate(self.selectedDay,self.selectedDayArr);
                        // hide datepicker
                        $('.ui-datepicker').hide();
                        self.loadworkinglog(self.weekstartdateStr, self.weekenddateStr);
                    }
                }).datepicker("setDate", new Date(self.selectedDayStr));
            },
            setStartAndEndDate(selectedDayStrParam, seletedDayArrParam){
                let self = this;
                const daydiff = getWeekDayNo(seletedDayArrParam[0]) - 1;
                // set week start date as global copy
                self.displaylogStartingDate = new Date(selectedDayStrParam);
                self.displaylogStartingDate.setHours(0, 0, 0, 0);
                self.displaylogStartingDate.setDate(self.displaylogStartingDate.getDate() - daydiff);
                self.weekstartdateStr = getcalenderformat(self.displaylogStartingDate);
                // set week end date as global copy
                self.displaylogEndingDate = new Date(self.displaylogStartingDate);
                self.displaylogEndingDate.setHours(0, 0, 0, 0);
                self.displaylogEndingDate.setDate(self.displaylogEndingDate.getDate() + 6);
                self.weekenddateStr = getcalenderformat(self.displaylogEndingDate);
            },
            nextDay() {
                this.selectedDay.setDate(this.selectedDay.getDate() + 1);
                this.selectedDayStr = getcalenderformat(this.selectedDay);
                this.selectedDayArr = this.selectedDay.toString('en-us').split(' ');
                this.showWeekend = getFullWeekend(this.selectedDayArr[0]);
                this.showDate = getFormattedDate(this.selectedDayArr);
                if (this.displaylogEndingDate.setHours(0, 0, 0, 0) < this.selectedDay.setHours(0, 0, 0, 0)) {
                    this.setStartAndEndDate(this.selectedDay,this.selectedDayArr);
                    this.loadworkinglog(this.weekstartdateStr, this.weekenddateStr);
                } else {
                    this.getcurrentdateWorklog();
                }
            },
            prevDay() {
                this.selectedDay.setDate(this.selectedDay.getDate() - 1);
                this.selectedDayStr = getcalenderformat(this.selectedDay);
                this.selectedDayArr = this.selectedDay.toString('en-us').split(' ');
                this.showWeekend = getFullWeekend(this.selectedDayArr[0]);
                this.showDate = getFormattedDate(this.selectedDayArr);
                /*this.displaylogStartingDate = new Date(this.daywiseDisplaylogList[0].entrydate);*/
                console.log(this.displaylogStartingDate);
                if (this.displaylogStartingDate.setHours(0, 0, 0, 0) > this.selectedDay.setHours(0, 0, 0, 0)) {
                    this.setStartAndEndDate(this.selectedDay,this.selectedDayArr);
                    this.loadworkinglog(this.weekstartdateStr, this.weekenddateStr);
                } else {
                    this.getcurrentdateWorklog();
                }
            },
            nextWeek() {
                this.selectedDay = new Date(this.displaylogEndingDate);
                this.selectedDay.setDate(this.selectedDay.getDate() + 1);
                console.log('next week : ' + this.selectedDay);
                this.selectedDayStr = getcalenderformat(this.selectedDay);
                this.selectedDayArr = this.selectedDay.toString('en-us').split(' ');
                this.setStartAndEndDate(this.selectedDay,this.selectedDayArr);
                this.loadworkinglog(this.weekstartdateStr, this.weekenddateStr);
            },
            prevWeek() {
                this.selectedDay = new Date(this.displaylogStartingDate);
                this.selectedDay.setDate(this.selectedDay.getDate() - 1);
                this.selectedDayStr = getcalenderformat(this.selectedDay);
                this.selectedDayArr = this.selectedDay.toString('en-us').split(' ');
                this.setStartAndEndDate(this.selectedDay,this.selectedDayArr);
                this.loadworkinglog(this.weekstartdateStr, this.weekenddateStr);
            }
        }
    }
    Vue.createApp(timesheetapp).mount('#timesheet-page')
</script>

{% endblock %}


